# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Virtualenvs
.venv/
venv/
env/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
